.pagination {
  margin: 0 0 10px;
  display: flex;
  &__select {
    margin-right: 50px;
    margin-left: 5px;
    min-width: 100px;
  }
  &__counter {
    min-width: 100px;
    text-align: center;
  }
}